.bla:hover{
    transition: margin-left 4s, margin-left 1s, margin-top 2s;
    font-family: 'purisa';
    color: royalblue;
    margin-left: 50%;
}

.click:hover{
    transition: margin-left 0.5s,;
    margin-left: 50%;
}

